{% extends 'base.html' %}{% load crispy_forms_tags%}{% block content %}
<div class="p-3 mb-2 bg-warning bg-gradient text-white" > <h3> <center>MANUALIDADES RACHEL'S DETALLES</center> </h3> </div>

<div class="card container">
  <div class="card-header">
    <h5 class="card-title"> <center> {{Todos_Cursos.nom_curso}}</center></h5>
  </div>
  <div class="card-body">
    <h6 class="card-title">{{Todos_Cursos.manualidades}}</h6>
    <p class="card-text">{{Todos_Cursos.descripcion}}</p>
    <footer class="blockquote-footer">Creador: <cite title="Source Title">{{Todos_Cursos.impartidor}}</cite> <cite title="Source Title"> El horario es de {{Todos_Cursos.horario}} </cite></footer>
    <br> 
    <div class="d-grid gap-2 d-md-block">
        {% if user.is_superuser %}
            <a href="{% url 'cursos_editar' Todos_Cursos.pk %}" class="btn btn-warning   btn-xs"> Editar </a>
            <a href="{% url 'cursos_eliminar' Todos_Cursos.pk %}" class="btn btn-warning     btn-xs"> Eliminar </a>
        {% endif %}
        <a href="{% url 'comentarios' Todos_Cursos.pk  %}" class="btn btn-warning    btn-xs"> Comentario </a>
    </div>
    <br>
     </div>
    <br>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Comentarios
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">        
            {% for comentario in Todos_Cursos.comentario.all %}
            <li class="list-group-item">{{comentario.NombreU}} comento: <p>{{comentario.Comentario}}</p>
                {% if user.is_superuser %}
                    <a class="btn btn-outline-warning btn-xs justify-content-md-end" href="{% url 'comentarios_eliminar' comentario.pk  %}"> Eliminar</a>
                {% endif %}
              </li>
            {% endfor%}
          </div>
        </div>
      </div>
    </div>
    <br>
    <a class="btn btn-outline-warning btn-xs justify-content-md-end" href="{% url 'cursos' %}"> Ver Todas Los Cursos </a>
 
    
</div>

{% endblock content %}