{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form class="form-inline mt-2 mt-md-0" action="{% url 'busqueda_epocas' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Buscar"
    aria-label="Buscar"> </form>
</div>

    <div class="card-group container">
        {% for epoca in Todos_Epocas%}
        <div class="card border-warning">
            <div class="container"><br>
                {% if epoca.posterE %}
                    <center> <img class="image" src="{{ epoca.posterE.url }}"  alt="MANUALIDADES" width="300" height="400" > </center>
                {% else %}
                    <center><img class="image" src="https://e7.pngegg.com/pngimages/829/733/png-clipart-logo-brand-product-trademark-font-not-found-logo-brand.png" width="300" height="400" ></center>
                {% endif %} 
            </div> 
            <div class="card-body">
                <h5 class="card-title">{{epoca.Epoca_nom}}</h5>
                <p class="card-text">{{epoca.epoca_desc}}</p>
                <p class="card-text">Dificultad: <small class="text-muted">{{epoca.dificultad}}</small></p>
                <p class="card-text">Curso: <small class="text-muted">{{epoca.curso}}</small></p>
            </div>
            <div class="card-body">
                <a class="btn btn-warning justify-content-md-end" href="{% url 'epocas_detalle' epoca.pk %}"> Ver Mas </a>
            </div>
            <div class="card-footer border-warning">
                <small class="text-muted">Fecha: <cite title="Source Title">{{epoca.fecha_epoca}}</cite></small>
            </div>
            
        </div>
        {% endfor %}
    </div>


<!--
    <div class="card mb-3 container">
        {% for epoca in Todos_Epocas%}
            <div class="card-body">
                
                <img src="https://www.unotv.com/uploads/2022/06/festivos-180921.jpg" class="img-thumbnail rounded-start" alt="" width="600" height="800">
       
                <h5 class="card-title">{{epoca.Epoca_nom}}</h5>
                <p class="card-text">{{epoca.epoca_desc}}</p>
                <p class="card-text">Dificultad: <small class="text-muted">{{epoca.dificultad}}</small></p>
                <p class="card-text">Curso: <small class="text-muted">{{epoca.curso}}</small></p>
            </div>
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer">Fecha:  <cite title="Source Title">{{epoca.fecha_epoca}}</cite></footer>
                
            </blockquote>
            <div class="card-body">
                <a class="btn btn-warning justify-content-md-end" href="{% url 'epocas_detalle' epoca.pk %}"> Ver Mas </a>
            </div>
        {% endfor %}
    </div>-->
<br>

{% endblock content %}