{% extends 'base.html' %}
{% block content %}{% load crispy_forms_tags%}
<div class="p-3 mb-2 bg-warning bg-gradient text-white" > <h3> <center>MANUALIDADES RACHEL'S</center> </h3> </div>
<div class="container">
    <h1 class="fw-bolder"> Cambiar contraseña </h1>
    <p class="fw-bolder" > Usted cambiara de contraseña, necesita ingresar la anterior e ingresar una nueva </p>

    <form action="" method="post">{% csrf_token %}
        <div class="mb-3 container">
            <label for="old_password " class="form-label"> Contraseña:  </label>
            <input type="password" class="form-control" name="old_password" aria-describedby="passwordHelp">
        </div>
        <div class="mb-3 container">
            <label for="new_password1 " class="form-label"> Nueva Contraseña:  </label>
            <input type="password" class="form-control" name="new_password1" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">
                <ul>
                    <li>Su contraseña no puede ser demasiado similar a su otra información personal.</li>
                    <li>Su contraseña debe contener al menos 8 caracteres.</li>
                    <li>Su contraseña no puede ser una contraseña de uso común.</li>
                    <li>Su contraseña no puede ser completamente numérica.</li>    
                </ul>
            </div>
        </div>
        <div class="mb-3 container">
            <label for="new_password2 " class="form-label"> Confirmar Contraseña:  </label>
            <input type="password" class="form-control" name="new_password2" aria-describedby="passwordHelp">
        </div>
        <input class="btn btn-primary btn-xs" type="submit" />
    </form>
</div>
{% endblock %}