{% extends 'base.html' %}
{% block content %}{% load crispy_forms_tags%}
<div class="p-3 mb-2 bg-warning bg-gradient text-white" > <h3> <center>MANUALIDADES RACHEL'S</center> </h3> </div>
<div class="container">
  <h1> Contraseña Cambiada satisfactoriamente </h1>
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">¡Bien Hecho!</h4>
    <p class="mb-0">Usted realizo el cambio de contraseña satisfactoriamente</p>
    <hr>
    <a href="{% url 'home' %}" class="alert-link"> Regresar a Home </a>.
  </div>
</div>
{% endblock %}